:root {
  --default: hsla(190, 7%, 7%, 0.8);
  --grape: #835b7f; /* #94618e;*/
  --grape-darker: #764e72;
  --eggplant: #49274a;
  --sand: #f4decb;
  --shell: #f8eee7;
}

body {
  font-family: "Urbanist", sans-serif;
  height: 100vh;
  background-color: var(--sand);
  color: var(--sand);
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  appearance: none;
  border: none;
  background: none;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 20vh;
  background-color: var(--grape-darker);
  flex-flow: row wrap;
}

header h3 {
  margin: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 50px;
}

header ul {
  list-style: none;
  width: 400px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.coffee-icons {
  position: relative;
  top: -15px;
  flex-basis: auto;
  width: 100%;
  height: 10vh;
  background-image: url("assets/coffee.svg");
  background-repeat: repeat;
  background-size: 70px 100px;
}

.pageChange {
  font-size: 30px;
}

.pageChange:hover {
  text-decoration: underline 2px;
}

main {
  height: 58vh;
  background-color: var(--sand);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cell {
  border: 13px solid var(--grape-darker);
  border-radius: 0px 0px 20px 20px;
  background-color: var(--grape);
}

.content {
  height: 58vh;
  padding: 20px;
}

.media {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.media img {
  width: 30vw;
}

footer {
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: var(--grape-darker);
}
